<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="list-inline social-buttons">
          <li class="nav-item active">
            <%= link_to "https://www.linkedin.com/in/christelle-lacourt-0b8a4ba7/", class: 'ig-btn', target: '_blank' do %>
              <%= content_tag :i, "", class: 'fa-brands fa-linkedin' %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "https://github.com/haya-moon", class: 'ig-btn', target: '_blank' do %>
              <%= content_tag :i, "", class: 'fa-brands fa-github' %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "https://www.instagram.com/lemondisc0/", class: 'ig-btn', target: '_blank' do %>
              <%= content_tag :i, "", class: 'fa-brands fa-instagram' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
